@page
@model LmazonBookStore.Pages.CheckOutCompletedModel
@{
}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    Thank You for shopping at Lmazon! Have a great day!
</div>

<div class="text-center">
    <h2>Thanks! Your order will be prepared right now!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
